* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.imgTank1 {
    width: 100px;
    height: 50px;
    position: absolute;
}

#tiroTank {
    background-color: black;
    width: 20px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    display: none;
}

.recargaTank1 {
    width: 200px;
    height: 15px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    border-radius: 15px;
    border: solid 2px;
    text-align: center;
}

.recargaTank1::after{   /*  Cria um elemento após uma ação */
    content: "";
    width: 0%;
    height: 100%;
    border-radius: 15px;
    background-color: chartreuse;
    position: absolute;
    left: 0;
    transition: 1ms ease-out;
}

.largura-alteradaTank1::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: chartreuse;
    position: absolute;
    left: 0;
    transition: 5s ease-in-out;}


#recargaTank2 {
    width: 200px;
    height: 15px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border-radius: 15px;
    border: solid 2px;
    text-align: center;
}


