*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#tank1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#imgTank1{
    width: 85%;
    height: 100%;
}

#tiroTank1{
    background-color: black;
    width: 20px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    display: none;
}